<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../plugins/healthmobile.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 110%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>系统管理
            <small>角色管理</small>
        </h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>系统管理</el-breadcrumb-item>
            <el-breadcrumb-item>角色管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="角色名/描述" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item"></el-input>
                <el-button @click="_findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
                <el-button type="primary" class="butT" @click="handleDelAll()">批量删除</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row  @selection-change="handleSelectionChange">
                <el-table-column
                        type="selection"
                        width="55">
                </el-table-column>
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="id" label="id" align="center"></el-table-column>
                <el-table-column prop="name" label="角色名" align="center"></el-table-column>
                <el-table-column prop="keyword" label="角色权限" align="center"></el-table-column>
                <el-table-column prop="description" label="角色描述" align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑角色" :visible.sync="dialogFormVisible" v-if="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                        <el-row>
                                            <el-col :span="12">
                                                <el-form-item label="角色名" prop="name">
                                                    <el-input v-model="formData.name"/>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="12">
                                                <el-form-item label="角色权限" prop="keyword">
                                                    <el-input v-model="formData.keyword"/>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <el-form-item label="角色描述">
                                                    <el-input v-model="formData.description" type="textarea"></el-input>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-form>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="菜单信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>菜单id</th>
                                            <th>菜单名称</th>
                                            <th>跟随菜单id</th>
                                            <th>菜单等级</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="menu in tableData1">
                                            <td>
                                                <input :id="menu.id" v-model="menucheckitemIds" type="checkbox" :value="menu.id">
                                            </td>
                                            <td><label :for="menu.id">{{menu.id}}</label></td>
                                            <td><label :for="menu.id">{{menu.name}}</label></td>
                                            <td><label :for="menu.id">{{menu.parentMenuId}}</label></td>
                                            <td><label :for="menu.id">{{menu.level}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                            <el-tab-pane label="权限信息" name="three">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限id</th>
                                            <th>权限名称</th>
                                            <th>权限keyword</th>
                                            <th>权限描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="permission in tableData2">
                                            <td>
                                                <input :id="permission.id" v-model="permissioncheckitemIds" type="checkbox" :value="permission.id">
                                            </td>
                                            <td><label :for="permission.id">{{permission.id}}</label></td>
                                            <td><label :for="permission.id">{{permission.name}}</label></td>
                                            <td><label :for="permission.id">{{permission.keyword}}</label></td>
                                            <td><label :for="permission.id">{{permission.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleSave()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
            <!--弹出编辑标签-->
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑角色" :visible.sync="dialogFormVisible4Edit" v-if="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="基本信息" name="first">
                                <el-form label-position="right" label-width="100px">
                                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                        <el-row>
                                            <el-col :span="12">
                                                <el-form-item label="角色名" prop="name">
                                                    <el-input v-model="formData.name"/>
                                                </el-form-item>
                                            </el-col>
                                            <el-col :span="12">
                                                <el-form-item label="角色权限" prop="keyword">
                                                    <el-input v-model="formData.keyword"/>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                        <el-row>
                                            <el-col :span="24">
                                                <el-form-item label="角色描述">
                                                    <el-input v-model="formData.description" type="textarea"></el-input>
                                                </el-form-item>
                                            </el-col>
                                        </el-row>
                                    </el-form>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="菜单信息" name="second">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>菜单id</th>
                                            <th>菜单名称</th>
                                            <th>跟随菜单id</th>
                                            <th>菜单等级</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="menu in tableData1">
                                            <td>
                                                <input :id="menu.id" v-model="menucheckitemIds" type="checkbox" :value="menu.id">
                                            </td>
                                            <td><label :for="menu.id">{{menu.id}}</label></td>
                                            <td><label :for="menu.id">{{menu.name}}</label></td>
                                            <td><label :for="menu.id">{{menu.parentMenuId}}</label></td>
                                            <td><label :for="menu.id">{{menu.level}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                            <el-tab-pane label="权限信息" name="three">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>权限id</th>
                                            <th>权限名称</th>
                                            <th>权限keyword</th>
                                            <th>权限描述</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="permission in tableData2">
                                            <td>
                                                <input :id="permission.id" v-model="permissioncheckitemIds" type="checkbox" :value="permission.id">
                                            </td>
                                            <td><label :for="permission.id">{{permission.id}}</label></td>
                                            <td><label :for="permission.id">{{permission.name}}</label></td>
                                            <td><label :for="permission.id">{{permission.keyword}}</label></td>
                                            <td><label :for="permission.id">{{permission.description}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>
                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

<!--间隔-->
        </div>
    </div>
</div>
</body>

<script>
    var vue = new Vue({
        el: '#app',
        data: {
            activeName: 'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize: 10,
                total: 100,
                queryString: null,
            },

            dataList: [],//列表数据
            formData: {},//表单数据
            multipleSelection:[],//删除存入的是每行的json对象
            tableData1: [],//新增和编辑菜单表单中对应的用户检查项列表数据
            tableData2: [],//新增和编辑权限表单中对应的用户检查项列表数据
            menucheckitemIds: [],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            permissioncheckitemIds: [],//新增和编辑表单中检查项对应的复选框，基于双向绑定可以进行回显和数据提交
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false,//控制编辑窗口显示/隐藏
            rules: {//校验规则
                name: [{ required: true, message: '角色名称为必填项', trigger: 'blur' }],
                keyword: [{ required: true, message: '角色权限码为必填项', trigger: 'blur' }],
            }
        },
        created() {
            this.findPage();
        },
        methods: {
            //编辑
            handleEdit() {
                //发送ajax请求
                axios.post("/role/edit.do?menucheckitemIds="+this.menucheckitemIds+"&permissioncheckitemIds="+this.permissioncheckitemIds,this.formData).then((res)=>{
                    this.dialogFormVisible4Edit=false;
                    if (res.data.flag){
                        this.$message.success(res.data.message);
                    } else {
                        this.$message.error(res.data.message);
                    }
                }).finally(()=>{
                    this.findPage();
                });
            },
            //添加
            handleSave() {
                axios.post("/role/judgerole.do?menucheckitemIds="+this.menucheckitemIds+"&permissioncheckitemIds="+this.permissioncheckitemIds,this.formData).then((res)=>{
                    if (res.data.flag){
                        //把前端表单和标签信息传递给后端进行数据库保存
                        axios.post("/role/add.do?menucheckitemIds="+this.menucheckitemIds+"&permissioncheckitemIds="+this.permissioncheckitemIds,this.formData).then((res)=>{
                            //点击确定添加表单套餐信息,需要关闭表单
                            this.dialogFormVisible=false;
                            if (res.data.flag){
                                this.$message.success(res.data.message);
                            } else {
                                this.$message.error(res.data.message);
                            }
                        }).finally(()=>{
                            this.findPage();
                        });

                    } else {
                        this.$message.error("角色名已存在");
                    }
                });


            },
			//查询按钮条件分页实现
            _findPage(){
                this.pagination.currentPage=1;
                this.findPage();
            }
            ,
            //分页查询
            findPage() {
                //发送ajax请求,提交分页相关请求参数(页码,每页显示记录数,查询条件)
                var param={
                    currentPage:this.pagination.currentPage,
                    pageSize:this.pagination.pageSize,
                    queryString:this.pagination.queryString
                };
                axios.post("/role/findPage.do",param).then((res) =>{
                    //解析controller响应回的数据,为模型数据赋值
                    this.pagination.total=res.data.total;//全部页
                    this.dataList=res.data.rows;//每页信息
                });
            },
            // 重置表单
            resetForm() {
                this.checkitemIds=[];
                this.formData={};
                this.activeName='first';
            },
            // 弹出添加窗口
            handleCreate() {
                this.resetForm();
                this.dialogFormVisible=true;
                //查询全部菜单信息
                axios.post("/role/findmenuAll.do").then((res)=>{
                if (res.data.flag){
                    this.tableData1=res.data.data;
                } else {
                    this.$message.error(res.data.message);
                }
                });
                //查询全部权限信息
                axios.post("/role/findpermissionAll.do").then((res)=>{
                    if (res.data.flag){
                        this.tableData2=res.data.data;
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.dialogFormVisible4Edit=true;
                this.activeName='first';
            axios.post("/role/findById.do?id="+row.id).then((res)=>{
                if (res.data.flag){
                    this.formData=res.data.data;
                } else {
                    this.$message.error(res.data.message);
                }
            });
                //查询全部菜单信息
                axios.post("/role/findmenuAll.do").then((res)=>{
                    if (res.data.flag){
                        this.tableData1=res.data.data;
                        //菜单复选框回显
                        axios.post("/role/findMenuCheckItemIdsByRoleId.do?id="+row.id).then((res)=>{
                            if (res.data.flag){
                                this.menucheckitemIds=res.data.data;
                            } else {
                                this.$message.error(this.data.message);
                            }
                        });
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
                //查询全部权限信息
                axios.post("/role/findpermissionAll.do").then((res)=>{
                    if (res.data.flag){
                        this.tableData2=res.data.data;
                        //菜单复选框回显
                        axios.post("/role/findPerssionCheckItemIdsByUserId.do?id="+row.id).then((res)=>{
                            if (res.data.flag){
                                this.permissioncheckitemIds=res.data.data;
                            } else {
                                this.$message.error(this.data.message);
                            }
                        });
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage=currentPage;
                this.findPage();
            },
			//获取选中行的数据
            handleSelectionChange(val) {
                axios.post("/role/findroleAll.do",val).then((res)=>{
                    if (res.data.flag){
                        multipleSelection=res.data.data;
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
            },
			//批量删除
            handleDelAll(){
                //发送ajax请求
                axios.post("/role/deleteAll.do",multipleSelection).then((res)=>{
                    if (res.data.flag){
                        this.findPage();
                        this.$message.success(res.data.message);
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
            },
            // 删除
            handleDelete(row) {
                //发送ajax请求
                axios.post("/role/delete.do?id="+row.id).then((res)=>{
                    if (res.data.flag){
                        this.findPage();
                        this.$message.success(res.data.message);
                    } else {
                        this.$message.error(res.data.message);
                    }
                });
            }
        }
    })
</script>
</html>
